@import '@/assets/css/roboto.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .details-content {
    @apply mt-2 p-2;
  }

  .no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

*,
*::before,
*::after {
  @apply box-border;
  @apply relative;
  scrollbar-width: thin;
  scrollbar-color:  rgb(161 161 170 / 0.5) transparent;
}

:root {
  @apply text-xs md:text-base;
}


::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-opacity-50 bg-zinc-400;
  @apply rounded-2xl;
  @apply border-transparent;
}

body {
  @apply font-sans;
  @apply relative;
  @apply transition-colors duration-100;
  @apply overflow-x-hidden;

  @apply min-h-full w-full;
  @apply p-0 m-0;

  @apply bg-noise-pattern bg-stone-300 dark:bg-neutral-800;
  @apply text-neutral-800 dark:text-stone-300;
}

button {
  @apply p-0;
  @apply border-none outline-none;
  @apply text-inherit bg-none;
}

code {
  @apply bg-opacity-25 bg-stone-300 dark:bg-neutral-700;
  @apply p-0.5;
}

summary {
  @apply cursor-pointer;
}

nav {
  @apply h-24 w-full max-w-6xl;
  @apply py-0 px-nav-p-x mx-auto my-0;
  @apply grid grid-cols-4 grid-rows-1 gap-4 md:gap-8;
  @apply content-center;

  @apply transition-all duration-500;
}

header {
  @apply text-5xl;
  @apply w-full h-24;
  @apply text-center;
  @apply leading-[6rem];
}

footer {
  @apply w-full h-12;
  @apply text-sm md:text-base;
  @apply bg-black bg-opacity-10;
  @apply flex justify-center items-center gap-4;
}

footer a {
  @apply no-underline;
}

h1 {
  @apply text-4xl font-bold;
}

a {
  @apply underline decoration-solid;
}

ul {
  @apply list-disc ml-8;
}

li {
  @apply mt-1 first:mt-0;
}